*.iml
.gradle
/local.properties
/.idea/
.DS_Store
build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
/android_sdk
commandlinetools.zip

gradle-8.4-bin.zip
jdk-17.zip
/jdk_dist

/gradle_dist
/api_prd
